# TODO: add tons of comments in this file
[Unit]
Description={app_name} daemon
Requires={app_name}.socket
After=network.target

[Service]
Type=notify
NotifyAccess=main
User={user}
Group=www-data
RuntimeDirectory={app_name}
WorkingDirectory={app_dir}
ExecStart={app_dir}/{command}
EnvironmentFile={app_dir}/.env
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true
# if your app does not need administrative capabilities, let systemd know
# ProtectSystem=strict

[Install]
WantedBy=multi-user.target
